@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


.movie-playlist>h1 {
  display: none;
}

button {
  font-family: 'Special Elite', cursive;
  padding: .5em;
  border-radius: 10px;
  line-height: 10px;
  background-color: azure;
  margin: 1em;
}
input>placeholder {
  font-family: 'Special Elite', cursive;
}

.buttons {
  display: none;
}
.playlist-images>img {
  display: none;
}
.playlist-images>img:first-of-type {
  display: block;
}
.search>h1 {
  font-size: 50px;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-image: url('683979.jpg');
  font-family: 'Special Elite', cursive;
}


.main-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 10em 0 5em;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}
#userInput {
  border-radius: 10px;
  padding: 5px;
  width: 25%;
}

.search>h1, .search>form{
  text-align: center;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5em 0 5em;
}
.movie-info>h2 {
  width: 100%:
  margin: .5em;
  padding: 1em;
}

.misc-info {
  display: flex;
  justify-content: space-around;
  width: 100%:
}

.misc-info>h4 {
  margin: 1em;
}

.movie-title {
  text-align: center;
}

#add {
  margin: 10% 100px 10% 100px;
}

.movie-playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10% 0 10%;
  text-align: center;
}

.playlist-images {
  display: flex;
  justify-content: center;

}

@media (min-width: 500px) {
 /* any other css rules can go in here as normal, for example: */
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50%;
  }
  .main-container {
    width: 100%;
    height: 50%;
  }
  img {
    max-width: 100%;
    display: block;
  }
